
html, body {
    height: 100%;
    margin: 0;
}

.main-page {
    display: flex;
    flex-direction: column; /* 자식 요소들을 세로로 배치합니다. */
    min-height: auto; /* 페이지의 최소 높이를 100%로 설정하여 전체 화면을 차지하게 합니다. */
    margin-top: 20px; /* 원하는 마진 값을 설정하세요 */
}

.content-container {
    flex: 1; /* 남은 공간을 모두 차지하도록 설정합니다. */
    display: flex;
    flex-direction: column; /* 자식 요소들을 세로로 배치합니다. */
}

.chart-list-container {
    flex: 1; /* 남은 공간을 모두 차지하도록 설정합니다. */
    display: flex;
}

.chart-container {
    flex: 1; /* chart-container가 남은 공간을 차지하도록 설정합니다. */
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.list-container {
    flex: 0 0 auto; /* list-container의 크기를 자동으로 설정합니다. */
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.under-container {
    flex: 0 0 auto; /* under-container의 크기를 자동으로 설정합니다. */
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffffff; /* 예시로 배경색을 설정합니다. 필요에 따라 변경하세요. */
}
