.mypage-container {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  background-color: #212737;
  border-radius: 8px;
  margin: auto;
  position: relative; 
  margin-top: 5%;
  margin-bottom: 6%;
  display: flex;
  justify-content: space-between; 
  gap: 5px;
}


.profile-section {
  flex: 1; 
  max-width: 800px; 
  background-color: #212737;
  padding: 20px;
  border-radius: 10px;
  
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.profile-info {
  display: flex;
  width: 100%;
}



.profile-avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.profile-avatar {
  border-radius: 50%;
  border: 2px solid #ccc;
}

.edit-profile-image-button {
  margin-top: 20px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.edit-profile-image-button:hover {
  background-color: #e9e9e9;
}

/* 폼 섹션 스타일 */
.mypage-form-section {
  background-color: #212737;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* 폼 그룹 스타일 */
.mypage-form-group {
  margin-bottom: 15px;
}

.mypage-form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
  text-align: left;
}

.mypage-form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.mypage-form-group input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* 에러 메시지 스타일 */
.mypage-err {
  color: #dc3545;
  font-size: 14px;
  margin-top: 0px;
  text-align: left;
}

.edit-profile-toggle-button {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 10px;
}

.profile-details {
  flex-grow: 1;
  color: #fff;
}

.mypage-nickname {
  font-size: 30px;
  text-align: left;
  margin-top: 10px;
  margin-left: 23px;
}

.profile-stats {
  margin: 10px 0;
  width: 50%;
  border-collapse: collapse;
  text-align: center;
}

.profile-stats span {
  font-size: 14px;
  color: #666;
}

.edit-profile-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.edit-profile-button:hover {
  background-color: #0056b3;
}




.my-posts {
  color: #fff;
}

.my-posts h3 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
}

.my-interest {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  margin-top: 0px;
  color: #fff;
}

.my-interest-item {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

.property-list, .stock-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

.property-item {
  font-size: 18px;
}

.property-item, .stock-item {
  padding: 15px; /* 패딩을 동일하게 설정 */
  margin-bottom: 15px; /* 아이템 간의 여백을 동일하게 설정 */
  border-radius: 8px; /* 모서리를 동일하게 둥글게 설정 */
  background-color: #212737; /* 배경 색상을 동일하게 설정 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 동일한 그림자 효과 */
  width: 270px;
  height: 240px; /* 고정 높이 설정 */
  display: flex; /* 아이템 내에서 flexbox 사용 */
  flex-direction: column; /* 세로 방향으로 정렬 */
  justify-content: space-between; /* 내용 사이에 공간을 균등하게 분배 */
  border: 1px solid #ccc;
}

.property-item:hover, .stock-item:hover {
  background-color: #3a4258;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  
}

.property-details, .stock-details {
  text-align: left;
  color: #fff;

}

.property-details p, .stock-details div {
  margin: 5px 0;
}

.property-label, .item-title {
  font-weight: bold;
  color: #fff;
}

.property-label {
  color: #fff;
}

.item-title {
  font-size: 16px;
  color: #fff;
  text-align: left;
}

.item-detail {
  margin: 3px 0;
  text-align: left;
}

.no-interest {
  text-align: center;
  color: #888;
}

.post {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.post-header {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}

.post-nickname {
  margin-left: 15px;
  margin-top: 15px; 
  font-size: 1.2rem;
}

.post-date {
  display: block; 
  font-size: 0.9rem; 
  color: #666;
  margin-left: 15px;
  margin-top: -10px;
}

.post-content {
  margin-top: 10px;
}

.post-content h3 {
  margin: 15px;
  text-align: left;
}

.post-image-placeholder {
  width: 100%;
  height: 400px;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.post-image-placeholder img {
  width: 100%;
  height: 400px;
  border-radius: 5px;
}

.mypage-item {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.mypage-item-likeBtn,
.mypage-item-replyBtn,
.mypage-item-share,
.mypage-item-bookmark {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  color: gray;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.mypage-item-bookmark {
  margin-left: auto;
}

.mypage-item-likeBtn:hover,
.mypage-item-replyBtn:hover,
.mypage-item-share:hover,
.mypage-item-bookmark:hover {
  background-color: #6c757d;
  color: #fff;
  transform: scale(1.2);
}

.bookmarked-posts {
  margin: 20px;
}

.bookmarked-posts-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bookmarked-post {
  background-color: #212737;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  color: #fff;
}

.bookmarked-post:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.bookmarked-post-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.bookmarked-post-profile {
  margin-right: 12px;
}

.bookmarked-post-info {
  display: flex;
  flex-direction: column;
}

.bookmarked-post-nickname {
  font-weight: bold;
  margin-bottom: 4px;
}

.bookmarked-post-created_at {
  font-size: 12px;
  color: #888;
}

.bookmarked-post-body {
  margin-bottom: 16px;
}

.bookmarked-post-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.bookmarked-post-contents {
  font-size: 16px;
  color: #fff;
}

.bookmarked-post-image {
  margin: 16px 0;
}

.bookmarked-post-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* 반응형 디자인 */
@media (max-width: 360px) {
  .mypage-container {
    padding: 10px;
    display: flex;
    flex-direction: column; /* 수직 방향으로 배치 */
  }

  .profile-section {
    width: 100%;
    padding: 15px;
    box-shadow: none; /* 작은 화면에서 그림자 제거 */
    
  }

  .my-interest {
    padding: 15px;
    margin-top: 10px;
    box-shadow: none;
    border-radius: 8px;
    background-color: #fff;
    width: 111% !important;
    margin: 0 -15px;
    position: relative; /* 상대 위치 */
    top: 20px; /* 원하는 만큼 이동 */
  }

  .profile-info {
    display: flex;
    flex-direction: row; /* 기본 방향 */
    align-items: flex-start; /* 상단 정렬 */
    text-align: left; /* 왼쪽 정렬 */
    width: 100%; /* 전체 너비 사용 */
    gap: 30px; /* 간격 추가 */
  }

  .profile-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 왼쪽 정렬 */
    margin-bottom: 15px;
    width: 100%;
  }

  .profile-stats {
    width: 100%;
    margin-top: 10px; /* 상단 간격 추가 */
    padding: 5px 0; /* 테이블 상하 패딩 추가 */
    table-layout: auto; /* 테이블 레이아웃을 자동으로 설정 */
    border-spacing: 10px; /* 셀 간 간격 조정 */
  }

  .profile-stats th, .profile-stats td {
    padding: 0 5px; /* 각 셀의 상하좌우 패딩 조정 */
    text-align: center; /* 텍스트 가운데 정렬 */
    white-space: nowrap; /* 텍스트를 한 줄로 표시 */
    vertical-align: middle; /* 텍스트를 셀의 중간에 정렬 */
  }

  .profile-stats th {
    font-size: 14px; /* 제목의 폰트 크기 조정 */
    color: #333; /* 텍스트 색상 조정 */
  }

  .profile-stats td {
    font-size: 16px; /* 데이터의 폰트 크기 조정 */
    color: #555; /* 텍스트 색상 조정 */
  }

  .profile-avatar-container {
    margin-right: auto; /* 오른쪽 여백을 자동으로 설정하여 왼쪽으로 정렬 */
    margin-bottom: 15px;
    text-align: left; /* 텍스트 및 내용 왼쪽 정렬 */
  }

  .profile-avatar {
    width: 100px; /* 작은 화면에서 프로필 사진 크기 조절 */
    height: 100px;
  }

  .mypage-nickname {
    font-size: 24px;
    margin: 10px 0;
  }

  .edit-profile-button {
    padding: 10px 20px;
    font-size: 10px;
    width: 100%;
  }

  .my-interest h2 {
    font-size: 20px; /* 제목 폰트 크기 조정 */
    margin-bottom: 15px; /* 제목 아래 여백 추가 */
  }

  .my-interest-item {
    padding: 15px; /* 패딩 넓히기 */
    font-size: 16px; /* 폰트 크기 조정 */
    margin-bottom: 15px; /* 아이템 간 여백 추가 */
    border-radius: 8px; /* 모서리 둥글게 */
    background-color: #f9f9f9; /* 배경 색상 설정 */
  }

  .property-list, .stock-list {
    padding: 0; /* 리스트 패딩 제거 */
    margin: 0; /* 리스트 마진 제거 */
    list-style-type: none; /* 리스트 스타일 제거 */
  }

  .property-item, .stock-item {
    padding: 15px; /* 아이템 패딩 넓히기 */
    margin-bottom: 15px; /* 아이템 간 여백 추가 */
    border-radius: 8px; /* 모서리 둥글게 */
    background-color: #fff; /* 배경 색상 설정 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    width: 250px;
    height: 200px; /* 고정 높이 설정 */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 콘텐츠를 위아래로 균등 배치 */
  }

  .property-item:hover, .stock-item:hover {
    background-color: #f1f1f1; /* 호버시 배경 색상 변경 */
  }

  .property-details p, .item-detail {
    margin-bottom: 10px; /* 각 항목 간 여백 추가 */
  }

  .no-interest {
    text-align: center; /* 중앙 정렬 */
    color: #888; /* 텍스트 색상 */
    font-size: 14px; /* 폰트 크기 조정 */
  }

  /* MUI Tabs 스타일 조정 */
  .MuiTabs-root {
    padding: 0 !important;
  }

  .MuiTab-root {
    padding: 10px !important;
    font-size: 14px !important;
  }

  .MuiTabPanel-root {
    padding: 0 !important;
  }

  .post-image-placeholder {
    height: 200px; /* 작은 화면에서 이미지 높이 조절 */
  }

  .bookmarked-post {
    padding: 12px;
    box-shadow: none; /* 작은 화면에서 그림자 제거 */
  }

  .bookmarked-post-title {
    font-size: 16px;
  }

  .bookmarked-post-contents {
    font-size: 14px;
  }

  .post-content h3 {
    font-size: 16px;
  }
}