
.assetType {
  cursor: pointer;
  color: black;
  font-size: 17px;
  padding: 15px;
}

/* 클릭 시 */
.assetType.active {
  color: #4c67ff;
  font-weight: bold;
}

.newsLi {
  margin-top: 70px;
  list-style-type: none;
}

.newsContent {
  margin-top: 50px;
}

.buttonContainer {
  display: center;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}
