.reply-container {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.reply-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: left;
}

.reply-item {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  word-wrap: break-word; /* 긴 단어가 줄 바꿈되도록 함 */
}

.reply-item-top {
  display: flex;
  align-items: flex-start;
}

.reply-item-profile {
  margin-right: 10px;
}

.reply-item-info {
  display: flex;
  flex-direction: column;
  flex: 1; /* 나머지 공간을 차지하도록 함 */
}

.reply-item-userNickname {
  font-weight: bold;
  font-size: 12px;
}

.reply-item-content {
  font-weight: bold;
  font-size: 15px;
}

.reply-item-created_at {
  color: gray;
  font-size: 12px;
  align-self: flex-start; /* 작성 시간을 오른쪽에 배치 */
  width: 100%;
}

.reply-input {
  width: 100%;
  box-sizing: border-box;
}

.reply-check,
.reply-btn {
  display: flex;
  align-items: center;
}

.reply-btn {
  margin-left: auto;
}

