.id-find-container {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    top: 30%;
    margin-top: 15%;
    margin-bottom: 15%;
}

.id-find-container h1 {
    color: #333;
}

.id-find-form .id-find-form-label {
    color: #555;
    text-align: left;
    margin-bottom: 0.5rem;
    display: block;
}

.id-find-form .form-control {
    font-size: 16px;
}

.id-find-form .btn-primary {
    background-color: #007bff;
    border: none;
}

.id-find-form .btn-primary:hover {
    background-color: #0056b3;
}