.pwfind-container {
    width: 100%;
    max-width: 500px; /* 카드의 최대 너비 설정 */
    padding: 20px; /* 카드 안쪽 여백 설정 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
    background-color: #fff; /* 카드 배경색 */
    border-radius: 8px; /* 카드 모서리 둥글게 */
}

.center-container {
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    
    background-color: #f8f9fa; /* 배경색 설정 */
    
}

/* 카드 스타일 */
.card {
    border: none; /* 카드 테두리 제거 */
    border-radius: 0.75rem; /* 카드 모서리 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
    background: #ffffff; /* 카드 배경색 */
}

/* 제목 스타일 */
h1 {
    font-size: 1.75rem; /* 제목 크기 조정 */
    font-weight: 700; /* 제목 두께 조정 */
    color: #333; /* 제목 색상 */
}

/* 폼 스타일 */
.pwfind-form {
    margin-top: 1rem; /* 폼 상단 여백 */
    
}

/* 폼 그룹 스타일 */
.form-group {
    margin-bottom: 1rem; /* 폼 그룹 사이의 여백 */
    text-align: left;
}

/* 레이블 스타일 */
label {
    font-weight: 600; /* 레이블 두께 조정 */
    color: #495057; /* 레이블 색상 */
}

/* 입력 필드 스타일 */
.input-group .form-control {
    border-radius: 0.5rem; /* 입력 필드 모서리 둥글게 */
    border: 1px solid #ced4da; /* 입력 필드 테두리 색상 */
    box-shadow: none; /* 입력 필드 그림자 제거 */
}

/* 버튼 스타일 */
.btn-primary {
    background-color: #007bff; /* 버튼 배경색 */
    border-color: #007bff; /* 버튼 테두리 색상 */
    border-radius: 0.5rem; /* 버튼 모서리 둥글게 */
    font-weight: 600; /* 버튼 텍스트 두께 조정 */
    padding: 0.75rem 1.5rem; /* 버튼 안쪽 여백 조정 */
    transition: background-color 0.3s ease; /* 버튼 배경색 전환 효과 */
}

.btn-primary:hover {
    background-color: #0056b3; /* 호버 시 배경색 */
    border-color: #004085; /* 호버 시 테두리색 */
}

@media (max-width: 768px) {
    .container {
        padding: 1.5rem; /* 모바일 화면에서 패딩 조정 */
        max-width: 90%; /* 화면 크기에 맞춰 카드 최대 너비 조정 */
        margin: auto; /* 카드 중앙 정렬 */
    }

    .card {
        border-radius: 0.5rem; /* 모바일 화면에서 카드 모서리 둥글기 조정 */
        padding: 1.5rem; /* 카드 내부 여백 조정 */
    }

    .btn-primary {
        padding: 0.5rem 1rem; /* 모바일 화면에서 버튼 안쪽 여백 조정 */
        font-size: 0.875rem; /* 모바일 화면에서 버튼 텍스트 크기 조정 */
        width: 100%; /* 버튼 너비를 카드에 맞춰서 조정 */
    }
}

@media (max-width: 480px) {
    .container {
        padding: 1rem; /* 모바일 화면에서 패딩 조정 */
        max-width: 95%; /* 화면 크기에 맞춰 카드 최대 너비 조정 */
    }

    .card {
        border-radius: 0.5rem; /* 모바일 화면에서 카드 모서리 둥글기 조정 */
        padding: 1rem; /* 카드 내부 여백 조정 */
    }

    .btn-primary {
        padding: 0.5rem 0.75rem; /* 모바일 화면에서 버튼 안쪽 여백 조정 */
        font-size: 0.75rem; /* 모바일 화면에서 버튼 텍스트 크기 조정 */
        width: 100%; /* 버튼 너비를 카드에 맞춰서 조정 */
    }
}