@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .community-search-bar {
    margin: 10px 0;
  }
}

.community-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  flex-wrap: wrap; /* 요소가 화면 크기에 따라 줄을 바꿀 수 있도록 함 */
}

.community-header {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0;
  flex: 1 0 100%; /* 한 줄을 차지하도록 함 */
  text-align: center; /* 중앙 정렬 */
}

.community-search-bar {
  flex: 1 1 100%; /* 한 줄을 차지하도록 함 */
  padding: 8px 12px;
  margin: 10px 0; /* 상하 여백 추가 */
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.community-insertBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  flex: 1 0 100%; /* 한 줄을 차지하도록 함 */
  text-align: center; /* 중앙 정렬 */
}

.community-insertBtn img {
  width: 24px;
  height: 24px;
}

@media (min-width: 768px) {
  .community-header, .community-search-bar, .community-insertBtn {
    flex: initial; /* 기본 동작으로 돌아가서 한 줄에 배치되도록 함 */
  }
  
  .community-search-bar {
    margin: 0 20px; /* 좌우 여백 복원 */
    flex: 1; /* 나머지 공간을 차지하도록 함 */
  }
}

.post-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-item {
  display: grid;
  height: auto; /* 내용에 따라 높이 자동 조정 */
  grid-template-rows: auto auto 1fr auto; /* 변경된 높이 설정 */
  grid-template-areas:
    'top'
    'middle'
    'bottom'
    'actions';
  gap: 10px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  grid-template-rows: auto 1fr 1fr auto; /* 각 영역의 높이 설정 */
}

.post-item-top {
  display: flex;
  align-items: flex-start; /* 수평 정렬 */
}

.post-item-middle {
  grid-area: middle;
}

.post-item-bottom {
  grid-area: bottom;
}

.post-item-actions {
  grid-area: actions;
  display: flex;
  gap: 10px;
  align-items: end;
}

.post-item-profile {
  /* 프로필 스타일 */
  margin-right: 10px; /* 프로필과 닉네임 사이의 간격 */
}

.post-item-info {
  display: flex;
  flex-direction: column; /* 수직 정렬 */
}

.post-item-userNickname {
  /* 닉네임 스타일 */
  justify-self: left;
  font-weight: bold;
}

.post-item-created_at {
  /* 시간 스타일 */
  color: gray;
  margin-top: 4px; /* 닉네임과 시간 사이의 간격 */
}

.post-item-title {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

.post-item-contents {
  text-align: left;
  font-size: 16px;
  color: #555;
}

.post-item-uploadFile img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.icon-trash-simple,
.community-insertBtn,
.post-item-likeBtn,
.post-item-replyBtn,
.post-item-share,
.post-item-bookmark {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  color: gray;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s; /* 부드러운 효과 추가 */
}

.post-item-bookmark {
  margin-left: auto; /* 북마크 버튼을 오른쪽으로 밀어냅니다. */
}

.icon-trash-simple:hover,
.community-insertBtn:hover,
.post-item-likeBtn:hover,
.post-item-replyBtn:hover,
.post-item-share:hover,
.post-item-bookmark:hover {
  background-color: #6c757d; /* 부드러운 회색 블루 */
  color: #fff;
  transform: scale(1.5); /* 버튼 크기 확대 */
}

.no-underline-link {
  text-decoration: none;
  color: inherit; /* 선택사항: 링크의 기본 색상을 상속받도록 설정 */
}



