/* 기본 네비게이션 바 스타일 */
.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #1B1F2C;
  }
  
  /* 버튼 스타일 */
  .back-button {
    background: none;
    border: none;
    color: #C4C2CF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #202637;
  }

  /* 룸 이름 스타일 */
  .nav-room {
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    flex: 1;
  }

  /* 유저 이름 스타일 */
  .nav-user {
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    flex: 1;
    color: #CFCDDA;
  }
  
  /* 드롭다운 메뉴 스타일 */
  .nav-drop {
    background: none;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }
  
  /* .nav-drop:hover {
    background-color: whitesmoke;
  } */
  
  /* 네비게이션 바 중앙 정렬을 위한 컨테이너 */
  .navbar-center {
    display: flex;
    justify-content: center;
    flex: 1;
    position: absolute;
    width: 100%;
    left: 0;
  }
  