/* 전체 컨테이너 스타일 */
.login-container {
    position: relative;
    left: 50%;
    top:50%;
    
    transform: translate(-50%, 20%);
    margin-bottom: 15%;
    max-width: 1200px; /* 최대 너비 조정 */
    width: 100%; /* 전체 너비를 차지하도록 설정 */
    
} 


/* 로그인 박스 스타일 */
.login-box {
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    
    box-sizing: border-box; /* 패딩과 보더를 너비에 포함 */
    
    
    
}

/* 제목 스타일 */
.login-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* 폼 그룹 스타일 */
.login-form-group {
    margin-bottom: 1.5rem;
}

.login-form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left;
}

.login-form-group input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

/* 버튼 스타일 */
.login-button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}

/* 구글 로그인 버튼 스타일 */
.login-google-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 링크 컨테이너 스타일 */
.login-link-container {
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}

.login-link-container a {
    display: inline-block;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
    
}

.login-link-container a:hover {
    text-decoration: underline;
}

/* 구분선 스타일 */
.login-hr {
    margin: 20px 0;
}

/* 미디어 쿼리: 태블릿 화면 */
@media (max-width: 768px) {
    .login-box {
        padding: 20px;
    }
    .login-title {
        font-size: 1.5rem;
    }
    .login-button {
        font-size: 14px;
        padding: 10px;
    }
    .login-container{
        display: flex;
        justify-content: center; /* 중앙 정렬 */
        margin-bottom: 100px;
    }
}

/* 미디어 쿼리: 모바일 화면 */
@media (max-width: 480px) {
    .login-box {
        padding: 15px;
    }
    .login-title {
        font-size: 1.25rem;
    }
    .login-button {
        font-size: 12px;
        padding: 8px;
    }
    .login-link-container a {
        font-size: 12px;
        margin: 0 5px;
        
    }
    .login-container{
        display: flex;
        justify-content: center; /* 중앙 정렬 */
        margin-bottom: 100px;
    }
}