.room-body {
    min-height: 600px;
    max-height: 600px;
    min-width: 100%;
    max-width: 100%;
    background-color: white;
    position: relative;
}

/* room-nav 스타일 */
.room-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 20px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

/* room-nav-chat 스타일 */
.room-nav-chat {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

/* room-nav-create 스타일 */
.room-nav-create {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.room-nav-create:hover {
    background-color: whitesmoke;
}

.room-list {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    justify-content: space-between;

}

.room-list:hover {
    background-color: whitesmoke;
}

.room-list img {
    width: 50px;
    border-radius: 20px;
    margin-right: 10px;
}

.room-title {
    display: flex;
}

/* member-number 스타일 */
.member-number {
    font-size: 14px;
    color: black;
    background-color: #f0f0f0;
    border-radius: 12px;
    padding: 5px 10px;
    text-align: center;
    margin-left: auto;
}