.subscribe-title {
    margin-top: 200px;
}

.subscribe-content {
    margin-top: 70px;
}

.line-benefit {
    display: block;
    margin-bottom: 50px;
}

.subscribe-price {
    font-size: 15px;
}

.subscribe-nextBtn {
    margin-top: auto;
}

